
<div style="float:left;width:50%">
	<h3>Sector information</h3> 
	<div class='block'>
		<div class='item'>
			<div class="itemLabel">
				<span class='average'>Sector:</span>
			</div>
			{{:data.sector}}
		</div>
		<div class='item'>
			<div class="itemLabel">
				<span class='average'>Coords:</span> 
			</div>
			{{:data.s_x}} : {{:data.s_y}}
		</div>
		<div class='item'>
			<div class="itemLabel">
				<span class='average'>Info:</span> 
			</div>
			{{:data.sector_info}}
		</div>
	</div>
</div>

<div style="float:right;width:50%">
	<h3>Flight data</h3> 
	<div class='block'>
		<div class='item'>
			<div class="itemLabel">
				<span class='average'>Speed:</span>
			</div>
			<div style="float:right">
				{{:data.speed}}
			</div>
		</div>
		<div class='item'>
			<div class="itemLabel">
				<span class='average'>Acceleration:</span>
			</div>
			<div style="float:right">
				{{:data.accel}}
			</div>
		</div>
		<div class='item'>
			<div class="itemLabel">
				<span class='average'>Heading:</span>
			</div>
			<div style="float:right">
				{{:data.heading}}
			</div>
		</div> 
	</div>
</div>


<div style="float:left;width:50%">
	<h3>Steer</h3>
	<div class='block'>
		<div class="item">
			<div class='item'>
				{{:helper.link('', 'triangle-1-nw', { 'orient' : 9 }, null, data.target_dir == 9 ? 'selected' : null)}}
				{{:helper.link('', 'triangle-1-n', { 'orient' : 1 }, null, data.target_dir == 1 ? 'selected' : null)}}
				{{:helper.link('', 'triangle-1-ne', { 'orient' : 5 }, null, data.target_dir == 5 ? 'selected' : null)}}
			</div>
			<div class='item'>
				{{:helper.link('', 'triangle-1-w', { 'orient' : 8 }, null, data.target_dir == 8 ? 'selected' : null)}}
				{{:helper.link('', 'circle-close', { 'cancelorient' : 1 }, data.target_dir ? null : 'disabled', null)}}
				{{:helper.link('', 'triangle-1-e', { 'orient' : 4 }, null, data.target_dir == 4 ? 'selected' : null)}}
			</div>
			<div class='item'>
				{{:helper.link('', 'triangle-1-sw', { 'orient' : 10 }, null, data.target_dir == 10 ? 'selected' : null)}}
				{{:helper.link('', 'triangle-1-s', { 'orient' : 2 }, null, data.target_dir == 2 ? 'selected' : null)}}
				{{:helper.link('', 'triangle-1-se', { 'orient' : 6 }, null, data.target_dir == 6 ? 'selected' : null)}}
			</div>
		</div>
	</div>
</div>

<div style="float:right;width:50%">
	<h3>Thrust</h3> 
	<div class='block'>
		<div class="item">
			<div class='item'>
				{{:helper.link('', 'triangle-1-nw', { 'thrust' : 9 }, null, data.thrustdir == 9 ? 'selected' : null)}}
				{{:helper.link('', 'triangle-1-n', { 'thrust' : 1 }, null, data.thrustdir == 1 ? 'selected' : null)}}
				{{:helper.link('', 'triangle-1-ne', { 'thrust' : 5 }, null, data.thrustdir == 5 ? 'selected' : null)}}
			</div>
			<div class='item'>
				{{:helper.link('', 'triangle-1-w', { 'thrust' : 8 }, null, data.thrustdir == 8 ? 'selected' : null)}}
				{{:helper.link('', 'circle-close', { 'cancelthrust' : 1 }, data.thrustdir ? null : 'disabled', null)}}
				{{:helper.link('', 'triangle-1-e', { 'thrust' : 4 }, null, data.thrustdir == 4 ? 'selected' : null)}}
			</div>
			<div class='item'>
				{{:helper.link('', 'triangle-1-sw', { 'thrust' : 10 }, null, data.thrustdir == 10 ? 'selected' : null)}}
				{{:helper.link('', 'triangle-1-s', { 'thrust' : 2 }, null, data.thrustdir == 2 ? 'selected' : null)}}
				{{:helper.link('', 'triangle-1-se', { 'thrust' : 6 }, null, data.thrustdir == 6 ? 'selected' : null)}}
			</div>
		</div>
	</div>
</div>

{{:helper.link(data.manual_control ? 'Release Control' : 'Manual Control', 'shuffle', { 'manual' : 1 }, null, data.manual_control ? 'selected' : null)}}
{{:helper.link(data.autobraking ? 'Release Brake' : 'Autobrake', 'shuffle', { 'abrake' : 1 }, null, data.autobraking ? 'selected' : null)}}
{{:helper.link(data.thrustdir <= 0 ? 'Thrust Forward' : 'Cancel Thrust', 'shuffle', { 'thrustforward' : 1 }, null, data.thrustdir < 0 ? 'selected' : null)}}

<div class='item'>
	<div class="itemLabel">
		<h3>Autopilot</h3>
	</div>
	<div class="itemContent" style="padding-top: 10px;">
		{{:helper.link(data.autopilot ? 'Engaged' : 'Disengaged', 'gear', { 'apilot' : 1 }, data.dest ? null : 'disabled', data.autopilot ? 'selected' : null)}}
	</div>
</div> 
<div class='item'>
	<div style="float:left;width:45%">
		<span class='white'>Target coordinates</span>
	</div>
	<div style="float:left;width:20%">
		{{if data.dest}}
			{{:helper.link(data.d_x, null, { 'setx' : 1 }, null, null)}} {{:helper.link(data.d_y, null, { 'sety' : 1 }, null, null)}}
		{{else}}
			{{:helper.link('None', null, { 'sety' : 1, 'setx' : 1 }, null, null)}}
		{{/if}}
	</div>
</div> 

<h3>Navigation data</h3>
<div class='item'>
	{{:helper.link('Save current position', 'disk', { 'add' : 'current' }, null)}}
	{{:helper.link('Add new entry', 'document', { 'add' : 'new' }, null)}}
</div>

<div class='statusDisplay'>
	{{if data.locations}}
		{{for data.locations}}
		  <div class='item'>
				<span class='average'>{{:value.name}}:</span>
				<span class='white'>{{:value.x}} : {{:value.y}}</span>
		  </div>
		  <div class='item'>
			{{:helper.link('Plot course', 'arrowreturnthick-1-e', { 'x' : value.x, 'y' : value.y }, null, null)}}
			{{:helper.link('Remove entry', 'close', { 'remove' : value.reference }, null, null)}}
		  </div>
		{{/for}}
	{{/if}}
</div>	
